<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- 콘솔 출력 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 파일 출력 -->
        <File name="file" fileName="logs/finmate.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- SQL 로그 파일 -->
        <File name="sqlFile" fileName="logs/sql.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- SQL 로그 -->
        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="sqlFile"/>
        </logger>
        <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </logger>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </logger>
        <logger name="jdbc.connection" level="OFF"/>

        <!-- Spring Security 로그 -->
        <logger name="org.springframework.security" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </logger>

        <!-- FinMate 애플리케이션 로그 -->
        <logger name="com.example.finmate" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </logger>

        <!-- Spring Framework 로그 -->
        <logger name="org.springframework" level="INFO"/>

        <!-- MyBatis 로그 -->
        <logger name="org.mybatis" level="DEBUG"/>

        <!-- 루트 로거 -->
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>